@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.sl-def-section {
    padding: 30px 0;
    &.sl_white_bg{
        background: #fff;
    }
    h2,
    .h2 {
        font-family: $font-stack;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
    }
}

.sl-btn {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 11px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &-block{
        display: block !important;
        width: 100%;
    }

    &-primary {
        background: $primary-color;
        transition: all .2s ease;

        &:hover {
            background: rgba($primary-color, .8);
            transition: all .2s ease;
        }
    }

    &-danger {
        background: #dc3545;
        transition: all .2s ease;

        &:hover {
            background: rgba(#dc3545, .8);
            transition: all .2s ease;
        }
    }

    &-text {
        background: transparent;
        font-size: 14px;
        border: none;
        color: #333333;

        &:hover {
            opacity: .9
        }
    }

    &-secondary{
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;

        &:hover{
            color: #6c757d;
            background-color: transparent;
            background-image: none;
            border: 1px solid #6c757d;
        }
    }

    &-outline-secondary {
        color: #6c757d;
        background-color: transparent;
        background-image: none;
        border: 1px solid #6c757d;

        &:hover {
            background-color: #6c757d;
            color: #fff;
        }
    }

    &-orange {
        background: white;
        border: 1px solid #ff6900;
        color: #ff6900;
        &:hover {
            background-color: #ff6900;
            color: #fff;
        }
    }
}

.form_input_group {
    margin-bottom: 64px;

    &.error {
        .base_input {
            border-color: #f00;
        }

        .base_textarea {
            border-color: #f00;
        }

        label {
            color: #f00;
        }
    }

    &.input_pl {
        position: relative;
        margin-bottom: 15px;

        &~.form_input_group:not(.input_pl) {
            margin-top: 64px;
        }

        & .base_input {
            padding-top: 10px;

            &::-webkit-input-placeholder {
                opacity: 0;
            }

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-moz-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }

            &:not(:placeholder-shown) {
                padding-top: 15px;
                padding-bottom: 5px;
            }

            &:not(:placeholder-shown)~.s-complex-input__label {
                padding: 0;
                top: 0;
                font-size: 12px;
                pointer-events: none;
            }
        }

        & .s-complex-input__label {
            pointer-events: none;
            position: absolute;
            overflow: hidden;
            top: 2px;
            left: 15px;
            width: 100%;
            display: block;
            padding: 10px 0;
            text-overflow: ellipsis;
            box-sizing: border-box;
            transition: all .1s ease-in-out;
        }
    }

    & label {
        display: block;
        font-family: $font-stack;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #A8A8A8;
    }
}

.base_input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $grey;
    padding: 10px 15px;
    resize: none;

    &:focus {
        outline: none;
    }
}

.sl-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    &>.custom-file,
    &>.custom-select,
    &>.base_input {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

    &>.sl-input-group-append>.sl-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.sl-input-group-append {
    margin-left: -1px;
}

.sl-input-group-append,
.sl-input-group-prepend {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
}

.sl-alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &-info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    &-error {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }

    &-success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
    }
}

.msMiniCart .empty { 
    display: block; 
}
.msMiniCart .not_empty { 
    display: none; 
}
.msMiniCart.full .empty { 
    display: none; 
}
.msMiniCart.full .not_empty { 
    display: block; 
}

.default_slider {
    position: relative; 
    .item {
        .text {
            padding-left: 15px;
            padding-right: 15px; 
        }
        form {
            left: 15px;
            right: 15px;
            width: auto; 
        }
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        background: $primary-color;
        color: #fff;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 31px;
        border-radius: 50%; 
    }
    .owl-prev {
        left: -15px;
    }
    .owl-next {
        right: -15px; 
    }
}   


@media (max-width: $small-desktop) {
        
}

@media (max-width: 1200px) {
    
}

@media (max-width: $tablets) {
    
}

@media (max-width: $small-tablets) {
    
}

@media (max-width: $big-phones) {
    
}

@media (max-width: $phones) {
    
    
}