@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(../libs/owlcarousel2/dist/assets/owl.carousel.min.css);
body {
  font-family: "Montserrat", sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  min-height: 100vh !important;
  height: auto !important;
  background: #f4f7f9;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.sl_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.sl_noscroll {
  overflow: hidden;
}

.sl_container {
  max-width: 1300px;
}

.sl-base_wrapper {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sl_header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

.sl_main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.sl_footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover {
  color: #333;
  text-decoration: underline;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

h1, .h1 {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #00061A;
  margin-bottom: 22px;
}

h3, .h3 {
  display: block;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 16px;
  color: #75787b;
}

h4, .h4 {
  display: block;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: #75787b;
  margin-bottom: 8px;
}

.fa-phone:before {
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.inliner {
  display: block;
  font-size: 0;
}

.inliner > * {
  display: inline-block;
  float: none;
}

.inliner.vam > * {
  vertical-align: middle;
}

.sl-form-group {
  margin-bottom: 15px;
}

.sl-form-group .sl-title {
  display: block;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #00061A;
}

/* ----------------- UTILS ------------- */
.mb-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-top: 2rem;
}

.mb-3 {
  margin-top: 3rem;
}

.mb-4 {
  margin-top: 4rem;
}

.mobile-show {
  display: none;
}

.desktop-show {
  display: block;
}

@media (max-width: 991px) {
  .mobile-show {
    display: block !important;
  }
  .desktop-show {
    display: none;
  }
}

/* ----------------- TXT ---------------- */
.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p {
  margin-bottom: 15px;
}

/* ----------------- LAYOUT ------------- */
.sl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.sl-align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.d-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.d-col-1,
.d-col-sm-1,
.d-col-md-1,
.d-col-lg-1,
.d-col-xl-1
.d-col-xxl-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-2,
.d-col-sm-2,
.d-col-md-2,
.d-col-lg-2,
.d-col-xl-2
.d-col-xxl-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-3,
.d-col-sm-3,
.d-col-md-3,
.d-col-lg-3,
.d-col-xl-3
.d-col-xxl-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-4,
.d-col-sm-4,
.d-col-md-4,
.d-col-lg-4,
.d-col-xl-4
.d-col-xxl-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-5,
.d-col-sm-5,
.d-col-md-5,
.d-col-lg-5,
.d-col-xl-5
.d-col-xxl-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-6,
.d-col-sm-6,
.d-col-md-6,
.d-col-lg-6,
.d-col-xl-6
.d-col-xxl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-7,
.d-col-sm-7,
.d-col-md-7,
.d-col-lg-7,
.d-col-xl-7
.d-col-xxl-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-8,
.d-col-sm-8,
.d-col-md-8,
.d-col-lg-8,
.d-col-xl-8
.d-col-xxl-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-9,
.d-col-sm-9,
.d-col-md-9,
.d-col-lg-9,
.d-col-xl-9
.d-col-xxl-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-10,
.d-col-sm-10,
.d-col-md-10,
.d-col-lg-10,
.d-col-xl-10
.d-col-xxl-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-11,
.d-col-sm-11,
.d-col-md-11,
.d-col-lg-11,
.d-col-xl-11
.d-col-xxl-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-12,
.d-col-sm-12,
.d-col-md-12,
.d-col-lg-12,
.d-col-xl-12
.d-col-xxl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333%;
}

.d-col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66667%;
}

.d-col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.d-col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333%;
}

.d-col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66667%;
}

.d-col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.d-col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333%;
}

.d-col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66667%;
}

.d-col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.d-col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333%;
}

.d-col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66667%;
}

.d-col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 600px) {
  .d-col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .d-col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .d-col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .d-col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .d-col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .d-col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .d-col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .d-col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .d-col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .d-col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .d-col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .d-col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .d-col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .d-col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .d-col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .d-col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .d-col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .d-col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .d-col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .d-col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .d-col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .d-col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .d-col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .d-col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 991px) {
  .d-col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .d-col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .d-col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .d-col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .d-col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .d-col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .d-col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .d-col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .d-col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .d-col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .d-col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .d-col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .d-col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .d-col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .d-col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .d-col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .d-col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .d-col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .d-col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .d-col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .d-col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .d-col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .d-col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .d-col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .d-col-xxl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .d-col-xxl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .d-col-xxl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .d-col-xxl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .d-col-xxl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .d-col-xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .d-col-xxl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .d-col-xxl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .d-col-xxl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .d-col-xxl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .d-col-xxl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .d-col-xxl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

/* ----------------- / LAYOUT ------------- */
.sl-def-section {
  padding: 30px 0;
}

.sl-def-section.sl_white_bg {
  background: #fff;
}

.sl-def-section h2,
.sl-def-section .h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.sl-btn {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 11px 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.sl-btn-block {
  display: block !important;
  width: 100%;
}

.sl-btn-primary {
  background: #ef7e18;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.sl-btn-primary:hover {
  background: rgba(239, 126, 24, 0.8);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.sl-btn-danger {
  background: #dc3545;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.sl-btn-danger:hover {
  background: rgba(220, 53, 69, 0.8);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.sl-btn-text {
  background: transparent;
  font-size: 14px;
  border: none;
  color: #333333;
}

.sl-btn-text:hover {
  opacity: .9;
}

.sl-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.sl-btn-secondary:hover {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6c757d;
}

.sl-btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6c757d;
}

.sl-btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.sl-btn-orange {
  background: white;
  border: 1px solid #ff6900;
  color: #ff6900;
}

.sl-btn-orange:hover {
  background-color: #ff6900;
  color: #fff;
}

.form_input_group {
  margin-bottom: 64px;
}

.form_input_group.error .base_input {
  border-color: #f00;
}

.form_input_group.error .base_textarea {
  border-color: #f00;
}

.form_input_group.error label {
  color: #f00;
}

.form_input_group.input_pl {
  position: relative;
  margin-bottom: 15px;
}

.form_input_group.input_pl ~ .form_input_group:not(.input_pl) {
  margin-top: 64px;
}

.form_input_group.input_pl .base_input {
  padding-top: 10px;
}

.form_input_group.input_pl .base_input::-webkit-input-placeholder {
  opacity: 0;
}

.form_input_group.input_pl .base_input::-moz-placeholder {
  opacity: 0;
}

.form_input_group.input_pl .base_input:-moz-placeholder {
  opacity: 0;
}

.form_input_group.input_pl .base_input:-ms-input-placeholder {
  opacity: 0;
}

.form_input_group.input_pl .base_input:not(:-moz-placeholder-shown) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.form_input_group.input_pl .base_input:not(:-ms-input-placeholder) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.form_input_group.input_pl .base_input:not(:placeholder-shown) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.form_input_group.input_pl .base_input:not(:-moz-placeholder-shown) ~ .s-complex-input__label {
  padding: 0;
  top: 0;
  font-size: 12px;
  pointer-events: none;
}

.form_input_group.input_pl .base_input:not(:-ms-input-placeholder) ~ .s-complex-input__label {
  padding: 0;
  top: 0;
  font-size: 12px;
  pointer-events: none;
}

.form_input_group.input_pl .base_input:not(:placeholder-shown) ~ .s-complex-input__label {
  padding: 0;
  top: 0;
  font-size: 12px;
  pointer-events: none;
}

.form_input_group.input_pl .s-complex-input__label {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 15px;
  width: 100%;
  display: block;
  padding: 10px 0;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form_input_group label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #A8A8A8;
}

.base_input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #75787b;
  padding: 10px 15px;
  resize: none;
}

.base_input:focus {
  outline: none;
}

.sl-input-group {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  width: 100%;
}

.sl-input-group > .custom-file,
.sl-input-group > .custom-select,
.sl-input-group > .base_input {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.sl-input-group > .sl-input-group-append > .sl-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sl-input-group-append {
  margin-left: -1px;
}

.sl-input-group-append,
.sl-input-group-prepend {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
  z-index: 1;
}

.sl-alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.sl-alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.sl-alert-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.sl-alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.msMiniCart .empty {
  display: block;
}

.msMiniCart .not_empty {
  display: none;
}

.msMiniCart.full .empty {
  display: none;
}

.msMiniCart.full .not_empty {
  display: block;
}

.default_slider {
  position: relative;
}

.default_slider .item .text {
  padding-left: 15px;
  padding-right: 15px;
}

.default_slider .item form {
  left: 15px;
  right: 15px;
  width: auto;
}

.default_slider .owl-prev,
.default_slider .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  background: #ef7e18;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  border-radius: 50%;
}

.default_slider .owl-prev {
  left: -15px;
}

.default_slider .owl-next {
  right: -15px;
}
